server {
    listen 80;
    server_name cloud.${BASE_DOMAIN};

    location ^~ /api/ {
        proxy_pass http://api-service:4100;
    }

    location / {
        proxy_pass http://cloud_service:3008;
    }
}