server {
    listen 80;
    server_name tracker.${BASE_DOMAIN};

    location / {
        proxy_pass http://tracker_service:3003;
    }

    location = /logo.jpeg {
        root /usr/share/nginx/html;
    }

    location = /maintenance.html {
        root /usr/share/nginx/html;
        internal;
    }
}
