server {
    listen 80;
    server_name admin.${BASE_DOMAIN};

    location / {
        proxy_pass http://corporate_gateway;
    }

    location = /logo.jpeg {
        root /usr/share/nginx/html;
    }

    location = /maintenance.html {
        root /usr/share/nginx/html;
        internal;
    }
}
