server {
    listen 80;
    server_name civic.${BASE_DOMAIN};

    location / {
        proxy_pass http://civic_service:3005;
    }

    location = /logo.jpeg {
        root /usr/share/nginx/html;
    }

    location = /maintenance.html {
        root /usr/share/nginx/html;
        internal;
    }
}
