server {
    listen 80;
    server_name admin.${BASE_DOMAIN};

    location / {
        return 503;
    }

    location = /maintenance.html {
        root /usr/share/nginx/html;
        internal;
    }

    location = /logo.jpeg {
        root /usr/share/nginx/html;
    }

    error_page 503 /maintenance.html;
}
